propythia/adjuv_functions/features_functions/data/* linguist-generated=true
propythia/adjuv_functions/sequence/data/* linguist-generated=true
example/* linguist-generated=true
tests/datasets/* linguist-generated=true
